desktop.ini
*_bak*
*\.autosave
Production/Textures/TX_Rock.max
Production/Textures/tx_rock_lp_Normal Map from Mesh.png
Production/Textures/tx_rock_lp_Height Map from Mesh.png
Production/Textures/tx_rock_lp_Ambient Occlusion Map from Mesh.png
Production/Textures/xNormal/TX_Rock_HP.FBX
